.crypto {
    background-color: #337AB7;
    padding: 0;
    margin: 0 auto;
    width: 90%;
    font-size: 0.9em !important;
    color: #2377A5 !important;
}

.app-header {
    color: #ffffff;
    background-color: #337AB7;
}

.progress {
    width:600px;
}

