<!DOCTYPE html>
<html>
<head>
    <title>Cryptotrading Places</title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="jquery/jquery.css">
    <link type="text/css" rel="stylesheet" media="all" href="css/overwrite_jquery.css"/>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="jquery-ui/css/smoothness/jquery-ui.css">

    <script src="jquery/jquery-2.1.3.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap-select.min.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="angular/angular-resource.min.js"></script>

    // Angular services
    <script src="angular/getCurrentTrading.js"></script>

    <script src="jquery-ui/js/jquery-ui.js"></script>

    <link type="text/css" rel="stylesheet" href="syntaxhighlighter/styles/shCoreDefault.css"/>
    <link type="text/css" rel="stylesheet" href="syntaxhighlighter/styles/shThemejqPlot.css"/>
    <link rel="stylesheet" type="text/css" href="jqplot/jquery.jqplot.min.css"/>
    <script language="javascript" type="text/javascript" src="jqplot/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="syntaxhighlighter/scripts/shBrushXml.js"></script>

    <!-- jqPlot renderers and plugins -->

    <script type="text/javascript" src="plugins/jqplot.highlighter.min.js"></script>
    <script type="text/javascript" src="plugins/jqplot.cursor.min.js"></script>
    <script type="text/javascript" src="plugins/jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" src="plugins/jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" src="plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script type="text/javascript" src="plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
    <script type="text/javascript" src="plugins/jqplot.pointLabels.min.js"></script>
    <script type="text/javascript" src="plugins/jqplot.enhancedLegendRenderer.js"></script>

    <!-- Angular modules -->

    <script type="text/javascript" src="angular/chart-ui.js"></script>
    <script type="text/javascript" src="angular/ordertypefillter.js"></script>
    <script type="text/javascript" src="angular/orderstatusfilter.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

<div ng-app="cryptoTrading" ng-controller="mainController">

    <div align="center" class="crypto" class="container-fluid">
        <div align="center" class="app-header">
            <div class="row">
                <div class="col-lg-4" align="right">
                    <img src="trading_places.jpg" height="150">
                </div>
                <div class="col-lg-8" align="left">
                    <div class="row">
                        <h1>Crypto trading places (Handel)</h1>
                    </div>
                    <div class="row">
                        <h3>
                            {{tradingAsText}} : {{currentRate}}
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <!--
                            Menu
                        -->
                        <div align="center">
                            <div class="btn-group btn-toolbar" role="group">
                                <button type="button" class="btn btn-primary" ng-click="clickReCalculate()">
                                    Herbereken <span class="glyphicon glyphicon-refresh"></span>
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="clickGraph()">
                                    Grafiek <span class="glyphicon glyphicon-stats"></span>
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="clickWallet()">
                                    Wallet <span class="glyphicon glyphicon-bitcoin"></span>
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="clickOrders()">
                                    Orders <span class="glyphicon glyphicon-briefcase"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>

            <div class="row">
                <!--
                 Wallet menu option
                -->
                <div ng-show="menuOption == 'showWallet'" align="center" ng-controller="walletController">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4>Wallet</h4></div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-2"><h4>Munten :</h4></div>
                                <div class="col-lg-2"><h4>{{ wallet.coins }} {{ currency.code }}</h4></div>
                                <div class="col-lg-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-2"><h4>Cryptocoins :</h4></div>
                                <div class="col-lg-2"><h4>{{ wallet.cryptoCoins }} {{ cryptoCurrency.code }}</h4></div>
                                <div class="col-lg-4"></div>
                            </div>

                            <div class="panel panel-primary">
                                <div class="panel-heading"><h4>Wallet historie</h4></div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <th width="150">Datum en tijd</th>
                                            <th width="120">Munten</th>
                                            <th width="130">Crypto munten</th>
                                            <th width="100">Koers</th>
                                            <th width="200">Totale waarde</th>
                                        </tr>
                                        <tr ng-repeat="walletHistory in walletHistories">
                                            <td>{{ walletHistory.timestamp | date: "dd-M-yyyy - hh:mm:ss uur" }}</td>
                                            <td>{{ walletHistory.coins }}</td>
                                            <td>{{ walletHistory.cryptoCoins }}</td>
                                            <td>{{ walletHistory.exchangeRate }}</td>
                                            <td>{{ walletHistory.totalValue }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                   Market orders menu option
                 -->
                <div ng-show="menuOption == 'showOrders'" align="center" ng-controller="orderController">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4>Market Orders</h4></div>
                        <div class="panel-body">

                            <table class="table">
                                <tr>
                                    <th width="150">Datum en tijd</th>
                                    <th width="80">Index</th>
                                    <th width="100">Order type</th>
                                    <th width="170">Order nummer</th>
                                    <th width="100">Munten</th>
                                    <th width="120">Crypto munten</th>
                                    <th width="120">Koers</th>
                                    <th width="100">Commissie</th>
                                    <th width="200">Status</th>
                                </tr>
                                <tr ng-repeat="order in marketOrders">
                                    <td>{{ order.timestamp | date: "dd-M-yyyy - hh:mm:ss uur" }}</td>
                                    <td>{{ order.index }}</td>
                                    <td>{{ order.type | orderType }}</td>
                                    <td>{{ order.orderReference }}</td>
                                    <td>{{ currency.symbol }} {{ order.coins | number: 2}}</td>
                                    <td>{{ cryptoCurrency.symbol }} {{ order.cryptoCoins | number: 5}}</td>
                                    <td>{{ order.exchangeRate }} {{ currency.symbol}} / {{ cryptoCurrency.symbol
                                        }}
                                    </td>
                                    <td>{{ currency.symbol }} {{ order.fee }}</td>
                                    <td>{{ order.status | orderStatus }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!--
                   Graph menu option
                 -->
                <div ng-show="menuOption == 'showGraph'" align="center" ng-controller="graphController">
                    <div ui-chart="btcChart" chart-options="btcChartOptions"></div>

                    <div ui-chart="macdChart" chart-options="macdChartOptions"></div>
                </div>

                <!--
                 Recalc trends and signals menu option
                -->
                <div ng-show="menuOption == 'recalculate'" align="center" ng-controller="recalculateController">
                    <h4>Herbereken trends en signalen</h4>
                    <br/>

                    <div class="row">
                        <div class="progress">
                            <div id="progressbar" class="progress-bar progress-bar-striped active"
                                 role="progressbar"
                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                 ng-attr-style="{{progressStyle}}">
                                <span><b>{{ progress }} %</b></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-1">MA</div>
                                <div class="col-lg-5">{{ calculationStatus.MaCalculation.status }}</div>
                                <div class="col-lg-2">{{ calculationStatus.MaCalculation.progress }} %</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-1">EMA</div>
                                <div class="col-lg-5">{{ calculationStatus.EmaCalculation.status }}</div>
                                <div class="col-lg-2">{{ calculationStatus.EmaCalculation.progress }} %</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-1">SMA</div>
                                <div class="col-lg-5">{{ calculationStatus.SmaCalculation.status }}</div>
                                <div class="col-lg-2">{{ calculationStatus.SmaCalculation.progress }} %</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-1">MACD</div>
                                <div class="col-lg-5">{{ calculationStatus.MacdCalculation.status }}</div>
                                <div class="col-lg-2">{{ calculationStatus.MacdCalculation.progress }} %</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-1">Signaal</div>
                                <div class="col-lg-5">{{ calculationStatus.SignalCalculation.status }}</div>
                                <div class="col-lg-2">{{ calculationStatus.SignalCalculation.progress }} %</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
// Register filter and ui-chart as dependencies
var app = angular.module("cryptoTrading", ['orderTypeFilter', 'orderStatusFilter', 'ui.chart', 'ngResource', 'currentTradingService']);
// main controller for the One Page Application
app.controller("mainController", function ($scope, $interval, $http, getCurrentTrading) {

    // get current trading
    var trading = getCurrentTrading.get(1, function () {

        $scope.trading = trading;

        // Wait until promise of getting current trade is finished.
        // get trading site as text
        $http.get('rest/getTradingAsStringText/' + $scope.trading.id).
                success(function (data) {
                    $scope.tradingAsText = data;
                });
        // get current crypto trading rate
        $http.get('rest/currentCryptoRate/' + $scope.trading.id).
                success(function (data) {
                    $scope.currentRate = data;
                });
        $scope.currency = $scope.trading.tradePair.currency;
        $scope.cryptoCurrency = $scope.trading.tradePair.cryptoCurrency;
    });

    //Click wallet menu option
    $scope.clickWallet = function () {
        $scope.menuOption = "showWallet";
        $scope.$broadcast('clickWalletEvent');
    }
    //Click orders menu option
    $scope.clickOrders = function () {
        $scope.menuOption = "showOrders";
        $scope.$broadcast('clickOrdersEvent');
    }
    //Click graph option
    $scope.clickGraph = function () {
        $scope.menuOption = "showGraph";
        $scope.$broadcast('clickGraphEvent');
    }
    //Click recalculate option
    $scope.clickReCalculate = function () {
        $scope.menuOption = "recalculate";
        $scope.$broadcast('clickRecalculateEvent');
    }
})
// Wallet controller
app.controller("walletController", function ($scope, $http) {
    // Menu option wallet clicked, get wallet
    $scope.$on('clickWalletEvent', function () {
        $http.get('rest/getWallet/' + $scope.trading.id).
                success(function (data) {
                    $scope.wallet = data;
                });
        $http.get('rest/getWalletHistory/' + $scope.trading.id).
                success(function (data) {
                    $scope.walletHistories = data;
                });
    });
});
// Order controller
app.controller("orderController", function ($scope, $http) {
    // Menu option orders clicked, get market orders
    $scope.$on('clickOrdersEvent', function () {
        $http.get('rest/marketOrders/' + $scope.trading.id).
                success(function (data) {
                    $scope.marketOrders = data;
                });
    });
    // Determine Order Type
    $scope.getOrderType = function (order) {
        if (order instanceof BuyMarketOrder) {
            return "Koop";
        }
        else {
            return "Verkoop";
        }
    }
});
// Graphs controller
app.controller("graphController", function ($scope, $http) {
    // Menu option graph clicked, show graph
    $scope.$on('clickGraphEvent', function () {
        // Btc Chart
        $http.get('rest/getBtcData/' + $scope.trading.id).
                success(function (data) {

                    $scope.btcChart = data.valueLists;

                    $scope.btcChartOptions = {
                        height: 300,
                        width: 1000,
                        title: 'Crypto coin data',
                        seriesDefaults: {
                            showMarker: false
                        },
                        axesDefaults: {
                            tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                            tickOptions: {
                                angle: -45,
                                fontSize: '8pt'
                            }
                        },
                        legend: {
                            renderer: $.jqplot.EnhancedLegendRenderer,
                            show: true,
                            placement: 'inside'
                        },
                        series: data.labels,
                        seriesDefaults: {
                            lineWidth: 1,
                            showMarker: false
                        },
                        axes: {
                            xaxis: {
                                autoscale: false,
                                syncTicks: true,
                                min: data.minX,
                                max: data.maxX,
                                tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                                tickOptions: {
                                    formatString: '%d',
                                    fontSize: '8pt'
                                }
                            },
                            yaxis: {
                                pad: 1.3,
                                min: data.minY,
                                max: data.maxY,
                                tickOptions: {
                                    formatString: '%.2f'
                                }
                            }
                        },
                        highlighter: {
                            show: true,
                            sizeAdjust: 7.5
                        },
                        cursor: {
                            show: true,
                            zoom: true,
                            showHorizontalLine: true,
                            showVerticalLine: true
                        }
                    }
                });

        // Macd Chart
        $http.get('rest/getMacdData/' + $scope.trading.id).
                success(function (data) {
                    $scope.macdChart = data.valueLists;
                    $scope.macdChartOptions = {
                        height: 300,
                        width: 1000,
                        title: 'Macd data',
                        seriesDefaults: {
                            showMarker: false
                        },
                        axesDefaults: {
                            tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                            tickOptions: {
                                angle: -45,
                                fontSize: '8pt'
                            }
                        },
                        legend: {
                            renderer: $.jqplot.EnhancedLegendRenderer,
                            show: true,
                            placement: 'inside'
                        },
                        series: data.labels,
                        seriesDefaults: {
                            lineWidth: 1,
                            showMarker: false
                        },
                        axes: {
                            xaxis: {
                                autoscale: false,
                                syncTicks: true,
                                min: data.minX,
                                max: data.maxX,
                                tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                                tickOptions: {
                                    formatString: '%d',
                                    fontSize: '8pt'
                                }
                            },
                            yaxis: {
                                pad: 1.3,
                                min: data.minY,
                                max: data.maxY,
                                tickOptions: {
                                    formatString: '%.2f'
                                }
                            }
                        },
                        highlighter: {
                            show: true,
                            sizeAdjust: 7.5
                        },
                        cursor: {
                            show: true,
                            zoom: true,
                            showHorizontalLine: true,
                            showVerticalLine: true
                        }
                    }
                });
    });
});
// Recalculate controller
app.controller("recalculateController", function ($scope, $http, $interval) {
    // Menu option graph clicked, show graph
    $scope.$on('clickRecalculateEvent', function () {
        $scope.progress = 0;
        $http.post('rest/recalculate/' + $scope.trading.id);
        // Monitor the progress
        $scope.intervalPromise = $interval(function () {

            // get calculculation status
            $http.get('rest/calculationStatus/').
                    success(function (data) {
                        $scope.calculationStatus = data;
                        $scope.progress = (data.MaCalculation.progress +
                                data.EmaCalculation.progress +
                                data.SmaCalculation.progress +
                                data.MacdCalculation.progress +
                                data.SignalCalculation.progress) / 5;
                        $scope.progressStyle = "width:" + $scope.progress + "%";
                    });

            if ($scope.progress >= 100) {
                $interval.cancel($scope.intervalPromise);
            }
        }, 1000);
    });
});
</script>
</html>
